<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <queries>
        <intent>
            <action android:name="android.intent.action.DIAL" />
            <data android:scheme="tel" />
        </intent>
    </queries>
    <application
        android:label="HegyGO"
        android:name="${applicationName}"
        android:icon="@mipmap/launcher_icon">
        <!-- ... többi elem változatlan ... -->
    </application>
</manifest>